body {
	margin: 50px;
	font-family: verdana;
}

.page-link {
	text-decoration: none;
	color: #000;
	height: 20px;
	font-family: 'verdana';
	vertical-align: middle;
	width: 20px;
	text-align: center;
	display: inline-block;
	border: 1px solid #efefef;
	padding: 5px;
	background-color: #e3e3e3;
	position: relative;
}

.page-link:hover,
.page-link.active {
	color: #fff;
	background-color: #000;
}

.page-link.next:before {
	content: '\203A';
	font-size: 24px;
	position: absolute;
	left: 10px;
	top: -1px;
}

.page-link.last:before {
	content: '\00BB';
	font-size: 24px;
	position: absolute;
	left: 8px;
	top: -1px;
}

.page-link.prev:before {
	content: '\2039';
	font-size: 24px;
	position: absolute;
	right: 10px;
	top: -1px;
}

.page-link.first:before {
	content: '\00AB';
	font-size: 24px;
	position: absolute;
	right: 8px;
	top: -1px;
}